.nav {
  margin: 2rem var(--base-margin) 3.5rem;
}

.main {
  position: relative;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: -1rem;
  background: var(--background-radial-gradient);
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.plusIcon {
  transform: scale(1.5);
}

.h1 {
  margin: 1.5rem 0;
}

.titleContainer {
  margin-bottom: var(--base-margin);
}

.error {
  margin: 0;
  color: var(--color-error);
}

.dropdownContainer {
  position: relative;
  margin-bottom: var(--base-margin);
}

.dropdownButton {
  background-color: var(--color-secondary-light-grey);
  color: var(--color-secondary-dark-blue);
  border-radius: var(--input-border-radius);
  border: transparent;
  resize: none;
  height: 3rem;
  width: 100%;
  margin: 1rem 0 0.5rem;
  padding: var(--input-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.errorFocus {
  outline: 1px var(--color-error) solid;
}

.dropdownButton:focus {
  outline: 1px var(--color-primary-blue) solid;
}

.dropdownMenu {
  border-radius: var(--base-border-radius);
  overflow: hidden;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  top: 3.5rem;
  position: absolute;
  width: 100%;
}

.textarea {
  height: 7.5rem;
  margin-bottom: 0.5rem;
}

.submitButton {
  background-color: var(--color-primary-purple);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-grey);
  border-radius: var(--base-border-radius);
  width: 100%;
  padding: 0.8rem 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}

.cancelButton {
  background-color: var(--color-primary-dark-blue);
  color: var(--color-secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
  width: 100%;
}

.cancelButton:hover {
  background-color: var(--color-hover-dark-blue);
}
