.main {
  padding: var(--base-padding);
}

.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.numberOfComments {
  font-weight: 700;
  font-size: var(--font-size-h3);
  color: var(--color-secondary-dark-blue);
}

.replyingTo {
  font-weight: 700;
  color: var(--color-primary-purple);
}
