.noFeedback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-white);
  color: var(--color-secondary-dark-blue);
  border-radius: var(--base-border-radius);
  margin: var(--base-margin);
}

.noFeedbackBody {
  text-align: center;
  font-size: var(--font-size-body3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem var(--base-padding);
}

.noFeedbackTitle {
  font-size: var(--font-size-h2);
}

.feedback {
  background-color: var(--color-primary-white);
  padding: var(--base-padding);
  border-radius: var(--base-border-radius);
  margin: 0.5rem 0;
}

.loginButton {
  background-color: var(--color-primary-purple);
  color: var(--color-secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
}

.loginButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 700px) {
  .noFeedbackBody {
    font-size: var(--font-size-body2);
    width: 70%;
  }

  .noFeedbackTitle {
    font-size: var(--font-size-h1);
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
  }

  .noFeedback {
    margin: 0;
  }

  .main {
    min-width: 50rem;
  }
}
