.noFeedback {
  background-color: var(--color-primary-white);
  color: var(--color-secondary-dark-blue);
  border-radius: var(--base-border-radius);
  padding: var(--base-padding);
  text-align: center;
  font-size: var(--font-size-body3);
}

.noFeedbackTitle {
  font-size: var(--font-size-h2);
}

.feedback {
  background-color: var(--color-primary-white);
  padding: var(--base-padding);
  border-radius: var(--base-border-radius);
  margin: 0.5rem 0;
}

.loginButton {
  background-color: var(--color-primary-purple);
  color: var(--color-secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
}

.loginButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}
