.navbar {
  background-color: var(--color-primary-dark-blue);
  color: var(--color-primary-white);
  font-size: var(--font-size-h3);
  font-weight: 700;
  padding: var(--base-padding);
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-top: 0.3rem;
}

.filterBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.75rem;
  border-bottom: 1px var(--color-border) solid;
}

.filter {
  background-color: transparent;
  color: var(--color-primary-dark-blue);
  font-size: var(--font-size-body3);
  font-weight: 700;
  height: 3.75rem;
  width: 33.3%;
  border-top: 4px transparent solid;
  border-bottom: 4px transparent solid;
}

.filter.planned {
  border-bottom: 4px var(--color-tertiary-orange) solid;
}

.filter.progress {
  border-bottom: 4px var(--color-primary-purple) solid;
}

.filter.live {
  border-bottom: 4px var(--color-tertiary-sky) solid;
}

.desc {
  margin: var(--base-margin);
}

.status {
  font-weight: 700;
  font-size: var(--font-size-h3);
  color: var(--color-primary-dark-blue);
  margin-bottom: 0.5rem;
}

.p {
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
}

@media screen and (min-width: 700px) {
  .navbar {
    margin: 3.5rem 2.5rem 2.5rem;
    border-radius: var(--base-border-radius);
  }

  .main {
    margin: 0rem 1rem 2.5rem;
  }

  .filterBar {
    display: none;
  }

  .allSections {
    display: flex;
    gap: 1rem;
    margin: var(--base-margin);
  }

  .desc {
    margin: 0 0 var(--base-margin);
  }

  .title {
    font-size: var(--font-size-h2);
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: var(--font-size-h1);
  }

  .p {
    font-size: var(--font-size-body2);
  }
}
