:root {
  --color-primary-purple: hsl(282, 83, 52);
  --color-primary-blue: hsl(230, 76, 59);
  --color-primary-dark-blue: hsl(230, 31, 31);
  --color-primary-white: white;

  --color-secondary-grey: hsl(231, 100, 97);
  --color-secondary-light-grey: hsl(230, 60, 98);
  --color-secondary-dark-blue: hsl(231, 33, 34);
  --color-secondary-dark-grey: hsl(224, 20, 49);
  --color-tertiary-orange: hsl(14, 83, 74);
  --color-tertiary-sky: hsl(204, 94, 68);
}
