.addForm {
  margin: var(--base-margin);
}

.commentLength {
  font-weight: 700;
  font-size: var(--font-size-h3);
  color: var(--color-secondary-dark-blue);
}

.addComment {
  font-weight: 700;
  font-size: var(--font-size-h3);
  color: var(--color-secondary-dark-blue);
}

.textarea {
  height: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  background-color: var(--color-primary-purple);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-grey);
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}
