.feedback {
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: var(--font-size-body3);
  font-weight: 700;
  color: var(--color-secondary-dark-blue);
  margin-bottom: 0.5rem;
}

.description {
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
  margin-bottom: 1rem;
}

.footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
