.feedback {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.bodyContainer {
  border-radius: var(--base-border-radius);
  margin: var(--base-margin);
  overflow: hidden;
}

.body {
  background-color: var(--color-primary-white);
  padding: var(--base-padding);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-body3);
  font-weight: 700;
  color: var(--color-secondary-dark-blue);
  margin-bottom: 0.5rem;
}

.title:hover {
  color: var(--color-hover-blue);
  transition: color 0.2s ease-in-out;
}

.description {
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
  margin-bottom: 1rem;
}

.commentContainer {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 700px) {
  .left {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .commentContainer {
    align-items: center;
  }

  .description {
    font-size: var(--font-size-body2);
  }

  .title {
    font-size: var(--font-size-h3);
  }

  .upvoteContainer {
    display: flex;
    justify-content: center;
    min-width: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bodyContainer {
    margin: 0;
  }
}
