.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
  background: url('../assets/images/mobile/background-header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.link {
  padding: 1rem var(--base-padding);
  color: var(--color-primary-white);
}

.title {
  font-size: var(--font-size-body2);
  font-weight: 700;
}

.location {
  font-size: var(--font-size-body3);
  font-weight: 500;
  opacity: 0.75;
}

.menuButton {
  padding: var(--base-padding);
  cursor: pointer;
}

.sidebarOverlay.active {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sidebarMenu {
  background-color: var(--color-secondary-light-grey);
  position: fixed;
  top: 4.5rem;
  right: -17rem;
  max-width: 17rem;
  min-height: 100%;
  padding: var(--base-padding);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sidebarMenu.active {
  transform: translateX(-17rem);
  transition: all 0.5s ease;
}

.logoutButton {
  background-color: var(--color-tertiary-red);
  color: var(--color-secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
}

.logoutButton:hover {
  background-color: var(--color-hover-red);
  transition: all 0.15s ease-in-out;
}

.nonMobile {
  display: none;
}

@media screen and (min-width: 700px) {
  .sidebarMenu,
  .menuButton,
  .sidebarOverlay {
    display: none;
  }

  .title {
    font-size: var(--font-size-h2);
  }

  .location {
    font-size: var(--font-size-body2);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--base-margin);
    gap: 1rem;
  }

  .banner {
    background: url('../assets/images/tablet/background-header.png');
    border-radius: var(--base-border-radius);
    align-items: flex-end;
    width: 33.3%;
    min-height: 12.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .nonMobile {
    display: block;
    width: 33.3%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 16rem;
  }

  .banner {
    background: url('../assets/images/desktop/background-header.png');
    border-radius: var(--base-border-radius);
    align-items: flex-end;
    width: 100%;
    min-height: 8.5rem;
    filter: none;
  }

  .nonMobile {
    display: block;
    width: 100%;
  }

  .link {
    margin-bottom: 0.5rem;
  }
}
