.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  background-color: transparent;
  border: transparent;
  color: var(--color-primary-blue);
  font-weight: 600;
}

.button:hover {
  color: var(--color-tertiary-sky);
  text-decoration: underline;
}

.content {
  margin-bottom: 1.5rem;
}

.replyingTo {
  font-weight: 700;
  color: var(--color-primary-purple);
  margin-right: 0.5rem;
}

.submitButton {
  background-color: var(--color-primary-purple);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-grey);
  border-radius: var(--base-border-radius);
  white-space: nowrap;
  padding: 0.8rem 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 768px) {
  .repliesContainer {
    border-left: none;
  }

  .content {
    margin-left: 3.5rem;
  }
}
