.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  background-color: transparent;
  border: transparent;
  color: var(--color-primary-blue);
  font-weight: 600;
}

.button:hover {
  color: var(--color-tertiary-sky);
  text-decoration: underline;
}

.content {
  margin-bottom: 1.5rem;
}

.replyingTo {
  font-weight: 700;
  color: var(--color-primary-purple);
  margin-right: 0.5rem;
}

.submitButton {
  background-color: var(--color-primary-purple);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-grey);
  border-radius: var(--base-border-radius);
  white-space: nowrap;
  padding: 0.8rem 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.submitButton:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}

.submitButton.submitReply {
  margin-top: 0.2rem;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.replyTextarea {
  height: 5rem;
}

.error {
  position: absolute;
  bottom: 2rem;
  left: 0;
  margin: 0 0 1rem;
  color: var(--color-error);
}

.errorFocus {
  outline: 1px var(--color-tertiary-red) solid;
}

@media screen and (min-width: 700px) {
  .repliesContainer {
    border-left: none;
  }

  .content {
    margin-left: 3.5rem;
  }

  .form {
    margin-left: 2rem;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .replyTextarea {
    margin-left: 1.5rem;
    margin-right: 1rem;
  }

  .submitButton.submitReply {
    margin-top: 1rem;
  }

  .error {
    top: 90%;
    left: 1.5rem;
  }
}
