.roadmapContainer {
  background-color: var(--color-primary-white);
  border-radius: var(--base-border-radius);
  padding: var(--base-padding);
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 1.5rem;
}

.roadmapTitleSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.roadmapTitle {
  font-size: var(--font-size-h3);
  color: var(--color-secondary-dark-blue);
  font-weight: 700;
}

.roadmapLink {
  font-size: var(--font-size-body3);
  color: var(--color-primary-blue);
  font-weight: 600;
  text-decoration: underline;
}

.roadmapLink:hover {
  color: var(--color-hover-blue);
  transition: color 0.2s ease-in-out;
}

.roadmapList {
  color: var(--color-secondary-dark-grey);
  width: 100%;
}

.roadmapList li {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .roadmapContainer {
    margin-bottom: 0;
    min-height: 12.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .roadmapContainer {
    min-height: 10.6rem;
  }
}
