.sortContainer {
  background-color: var(--color-secondary-dark-blue);
  color: var(--color-secondary-grey);
  padding: 0 var(--base-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-body3);
  height: 3.5rem;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.totalFeedback {
  display: none;
}

.sortOption {
  cursor: pointer;
  position: relative;
}

.arrowDown {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7477%)
    hue-rotate(263deg) brightness(112%) contrast(105%);
}

.sortOptionSpan {
  font-weight: 700;
  margin-right: 0.2rem;
}

.dropdownMenu {
  border-radius: var(--base-border-radius);
  overflow: hidden;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  position: absolute;
  top: 3.5rem;
  min-width: 12rem;
}

.feedbackBtn {
  background-color: var(--color-primary-purple);
  display: flex;
  gap: 2px;
  align-items: center;
  color: inherit;
  border: none;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
}

.logoutButton {
  background-color: var(--color-primary-white);
  color: var(--color-primary-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
}

.logoutButton:hover {
  background-color: var(--color-hover-blue);
  color: var(--color-primary-white);
  transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 700px) {
  .sortContainer {
    border-radius: var(--base-border-radius);
    margin: var(--base-margin);
    min-height: 4.5rem;
  }

  .totalFeedback {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: var(--font-size-h3);
    font-weight: 700;
  }

  .sortOption {
    font-size: var(--font-size-body2);
  }

  .dropdownMenu {
    min-width: 16rem;
  }

  .buttonWrapper {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .sortContainer {
    border-radius: var(--base-border-radius);
    margin: var(--base-margin) 0;
    min-height: 4.5rem;
  }
}
