:root {
  font-family: 'Jost', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary-purple: hsl(282, 83%, 52%);
  --color-primary-blue: hsl(230, 76%, 59%);
  --color-primary-dark-blue: hsl(230, 31%, 31%);
  --color-primary-white: #fff;

  --color-secondary-grey: hsl(231, 100%, 97%);
  --color-secondary-light-grey: hsl(230, 60%, 98%);
  --color-secondary-dark-blue: hsl(231, 33%, 34%);
  --color-secondary-dark-grey: hsl(224, 20%, 49%);
  --color-tertiary-orange: hsl(14, 83%, 74%);
  --color-tertiary-sky: hsl(204, 94%, 68%);
  --color-tertiary-red: #d73737;

  --color-error: #d73737;

  --color-hover-blue: #7c91f9;
  --color-hover-purple: #c75af6;
  --color-hover-dark-blue: #656ea3;
  --color-hover-red: #e98888;

  --color-category-hover: #cfd7ff;

  --color-border: rgba(140, 146, 179, 0.25);

  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;
  --font-size-h4: 0.875rem;
  --font-size-body1: 1rem;
  --font-size-body2: 0.9375rem;
  --font-size-body3: 0.8125rem;

  --base-border-radius: 0.625rem;
  --input-border-radius: 0.3125rem;
  --base-padding: 1.5rem;
  --input-padding: 1rem;
  --base-margin: 1.5rem;

  --background-radial-gradient: radial-gradient(
    farthest-corner at 2rem 0,
    #e84d70,
    #a337f6,
    #28a7ed
  );
}

html {
  /* base font 16px */

  /* mobile 13px */
  /* font-size: 81.25%; */

  /* to prevent scrollbar moving the layout when sidebar appears*/
  scrollbar-gutter: stable;
}

body {
  line-height: 1.4375;
  background-color: var(--color-secondary-light-grey);
}

body.overflow-hidden {
  overflow-y: hidden;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-h3);
  color: var(--color-secondary-dark-blue);
}

input {
  color: var(--color-secondary-dark-blue);
  background-color: var(--color-secondary-light-grey);
  border-radius: var(--input-border-radius);
  border: transparent;
  resize: none;
  height: 3rem;
  width: 100%;
  margin: 1rem 0;
  padding: var(--input-padding);
  margin-bottom: 0.5rem;
}

label {
  font-weight: 700;
  color: var(--color-secondary-dark-blue);
}

textarea {
  background-color: var(--color-secondary-light-grey);
  color: var(--color-secondary-dark-blue);
  border-radius: var(--input-border-radius);
  border: transparent;
  resize: none;
  width: 100%;
  margin: 1rem 0;
  padding: var(--input-padding);
  line-height: 1.5;
}

textarea:focus {
  outline: 1px var(--color-primary-blue) solid;
}

button {
  border: transparent;
}

input:focus {
  outline: 1px var(--color-primary-blue) solid;
}
