.link {
  background-color: var(--color-primary-purple);
  color: var(--color-secondary-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: var(--base-border-radius);
  padding: 0.8rem 1rem;
  font-weight: 700;
  font-size: var(--font-size-body3);
}

.link:hover {
  background-color: var(--color-hover-purple);
  transition: all 0.15s ease-in-out;
}
