.link {
  font-size: var(--font-size-body3);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.span {
  color: var(--color-secondary-dark-grey);
  font-size: var(--font-size-body3);
  font-weight: 700;
}

.span:hover {
  color: var(--color-secondary-dark-blue);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.span.white {
  color: var(--color-primary-white);
}

.span.white:hover {
  color: var(--color-secondary-grey);
  transition: all 0.2s ease-in-out;
}

.whiteArrowLeft {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7477%)
    hue-rotate(263deg) brightness(112%) contrast(105%);
}

@media screen and (min-width: 700px) {
  .link,
  .span {
    font-size: var(--font-size-body2);
  }
}
