.body {
  background-color: var(--color-primary-white);
  padding: var(--base-padding);
  border-radius: var(--base-border-radius);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
  margin: var(--base-margin);
}

@media screen and (min-width: 700px) {
  .body {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    margin: var(--base-margin) 0;
  }
}
