.body {
  background-color: var(--color-primary-white);
  padding: var(--base-padding);
  border-radius: var(--base-border-radius);
  font-size: var(--font-size-body3);
  color: var(--color-secondary-dark-grey);
}
