.button {
  background-color: var(--color-secondary-grey);
  color: var(--color-primary-blue);
  font-size: var(--font-size-body3);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: var(--base-border-radius);
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  display: inline;
}

.button:hover:not(.disable, .selected) {
  background-color: var(--color-category-hover);
  transition: all 0.25s ease-in-out;
}

.button.selected {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
  transition: all 0.25s ease-in-out;
}

.button.disable {
  cursor: auto;
}
