.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-secondary-grey);
  color: var(--color-secondary-dark-blue);
  font-size: var(--font-size-body3);
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: var(--base-border-radius);
  text-transform: capitalize;
}

.button:hover {
  background-color: var(--color-category-hover);
  transition: background-color 0.25s ease-in-out;
}

.button.liked {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
  transition: background-color 0.25s ease-in-out;
}

.arrowUp.liked {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7477%)
    hue-rotate(263deg) brightness(112%) contrast(105%);
}

@media screen and (min-width: 768px) {
  .button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }

  .button.roadmap {
    flex-direction: row;
    padding: 0.5rem 1rem;
  }
}
